.bg-grey1 {
    background-color: #f4f4f4;
}

.bg-grey2 {
    background-color: #ccc;
}

#inicio .container,
#profissional .container,
#areas .container,
#destaques .container,
#contato .container {
    -border: 1px #000 solid;
    padding: 50px 100px;
}

h2 {
    border: 1px #000 solid;
    margin-bottom: 30px;
}

.btn1 {
    background-color: #1E2F4C;
    color: #fff;
    border: none;
}
.btn1:hover {
    background-color: #B79B5D;
    border: none;
}

/* MENU FIXO */
#navbar {
    background-color: #4E1B3D;
    height: 100px;
}
#navbar a{
    color: #fff;
    border-bottom: 2px #4E1B3D solid;
}
#navbar a:hover {
    /*
    dourado 1 - #DCB675
    dourado 2 - #D4AA6D
    dourado 3 - #B79B5D
    */
    color: #DCB675;
    border-bottom: 2px #DCB675 solid;
}
#navbar a.active{
    color: #DCB675;
    border-bottom: 2px #DCB675 solid;
}
.navbar-brand {
    display: flex;
}
.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}
#navbar-items .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;
}
#navbar-items .nav-item {
    margin: 0 1em;
}

/* INICIO */
#inicio {
    margin-top: 100px;
}
